.main {
    margin-top: 30px;
}
/* logo */
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.logo img {
    width: 310px;
    height: 122px;
}

/* content */
.content-head {
    background: #efefef;
    text-align: center;
    padding: 38px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 129px;
}

.content-head h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin: 0 0 18px 0;
}

.content-head p {
    padding: 0 100px;
}

.content-main-list {
    margin: 0 129px 182px 129px;
    display: flex;
}

.content-main-item {
    margin-top: 40px;
    width: 33.33%;
}
.content-main-item {
    margin-right: 50px;
}
.content-main-item:last-child {
    margin-right: 0;
}

.main-item__img {
    width: 128px;
    height: 128px;
    margin-right: 16px;
    float: left;
}

.content-main-item h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000;
    margin-bottom: 18px;
}

.content-main-body p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    width: 100%;
}

/* Responsive */
/* Mobile and Tablet */
@media screen and (max-width: 1023px) {
    .content-main-item {
        width: 100%;
    }
    .content-main-list {
        flex-direction: column;
    }
    .footer {
        padding: 0;
    }
    .footer p {
        display: flex;
        justify-content: center;
    }
}
/* Tablet */
@media screen and (min-width: 740px) and (max-width: 1023px) {
    .logo img {
        width: 200px;
        height: 88px;
    }
    .content-head {
        margin: 0 30px;
    }
    .content-head p {
        padding: 0 20px;
    }
    .content-main-list {
        margin: 0 30px 100px 30px;
    }
}

/* Mobile */
@media screen and (max-width: 739px) {
    .logo img {
        width: 100px;
        height: 45px;
    }
    .content-head {
        margin: 0 15px;
    }
    .content-head p {
        padding: 0 10px;
    }
    .content-main-list {
        margin: 0 15px 40px 15px;
    }
}
