.main {
    margin-top: 30px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.logo img {
    width: 310px;
    height: 122px;
}

.content-head {
    background: #efefef;
    text-align: center;
    padding: 38px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 129px;
}

.content-head h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin: 0 0 18px 0;
}

.content-head p {
    padding: 0 296px;
}

.content-main-list {
    margin: 0 129px 182px 129px;
    display: flex;
}

.content-main-item {
    margin-top: 40px;
    width: 33.33%;
}
.content-main-item {
    margin-right: 50px;
}
.content-main-item:last-child {
    margin-right: 0;
}

.content-main-body {
    /* display: flex; */
}

.main-item__img {
    width: 128px;
    height: 128px;
    margin-right: 16px;
    float: left;
}

.content-main-item h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000;
    margin-bottom: 18px;
}

.content-main-body p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    width: 100%;
}
